.formCovid{
position: absolute;
width: 1440px;
height: 731px;
left: 0px;
top: 1830px;
}
img{
    position: absolute;
width: 600px;
height: 401.79px;
left: 20px;
top: 1000px;

}
.form{
position: absolute;
width: 472px;
height: 92px;
left: 852px;
top: 800px;

/* Display */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 61px;
line-height: 92px;
/* identical to box height */


/* Primary */

color: #06D6A0;
}

.formgroup1{
position: absolute;
width: 349px;
height: 88px;
left: 0px;
top: 0px;

}
.formgroup1 label{
    /* Provinsi */


position: absolute;
width: 92px;
height: 36px;
left: 852px;
top: 1007px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


/* Gray Color */

color: #64748B;
}
.formgroup1 select{
    /* Rectangle 15 */


box-sizing: border-box;

position: absolute;
width: 349px;
height: 43px;
left: 852px;
top: 1052px;

background: #FFFFFF;
/* Primary */

border: 2px solid #06D6A0;
border-radius: 10px;

}
.formgroup2{
position: absolute;
width: 349px;
height: 88px;
left: 852px;
top: 1119px
}
.formgroup2 label{
    position: absolute;
width: 76px;
height: 36px;
left: 0px;
top: 0px;
padding-bottom: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


/* Gray Color */

color: #64748B;

}
.formgroup2 select{
    box-sizing: border-box;

position: absolute;
width: 349px;
height: 43px;
left: 0px;
top: 64px;

background: #FFFFFF;
/* Primary */

border: 2px solid #06D6A0;
border-radius: 10px
}
.formgroup3{
/* Form Group */


position: absolute;
width: 349px;
height: 88px;
left: 852px;
top:1257px;
}
.formgroup3 label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


/* Gray Color */

color: #64748B;

}
.formgroup3 input{
    box-sizing: border-box;

    position: absolute;
    width: 349px;
    height: 43px;
    left: 0px;
    top: 50px;
    
    background: #FFFFFF;
    /* Primary */
    
    border: 2px solid #06D6A0;
    border-radius: 10px;
}
.tombol{
    
position: absolute;
width: 349px;
height: 43px;
left: 852px;
top: 1400px;

/* Primary */

background: #06D6A0;
border-radius: 10px;
}
.footer{
position: absolute;
width: 1440px;
height: 157px;
left: 0px;
top: 3461px;

/* Primary */

background: #06D6A0;
}

.covid{
    margin-left: 40px;
    color:#FFFFFF;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
margin-top: 10px;
}
.covid h3{
    font-weight: 400px;
}
.group6{
/* Group 6 */


position: absolute;
width: 496px;
height: 38px;
left: 752px;
margin-left: 120px;

top: 1500px;
display: flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
}
