.global{
position: absolute;
width: 1440px;
height: 731px;
left: 0px;
top: 768px;

}
.title{
position: absolute;
width: 304px;
height: 92px;
left: 500px;
top: 0px;

/* Display */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 61px;
line-height: 92px;
/* identical to box height */

text-align: center;

/* Primary */

color: #06D6A0;
}
.sub{
    position: absolute;
width: 435px;
height: 38px;
left: 500px;
top: 100px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 38px;
/* identical to box height */


/* Secondary */

color: #118AB2;
}
.cards{
position: absolute;
width: 1196px;
height: 329px;
left: 122px;
top: 1035px;
display: flex;


}
.card{
margin-left: 30px;
margin-right: 20px;
right:200px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
width: 304px;
height: 200px;


}
.body{
color: #073B4C;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
line-height: 58px;
/* identical to box height */

text-align: center;
}
.no1{
    color: #06D6A0;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
text-align: center;
}
.no2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #118AB2;
    text-align: center;
}
.no3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #EF476F;
    text-align: center;
}
.province{
    /* Provinsi Table */


position: absolute;
width: 1320px;
height: 731px;
top: 1499px;

}
.title2{
 font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 61px;
line-height: 92px;
/* identical to box height */

text-align: center;

/* Primary */

color: #06D6A0;

}
.subtitle2{
font-family: 'Poppins';
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
/* identical to box height */


/* Secondary */

color: #118AB2;
}
table{
position: absolute;
width: 813px;
height: 285px;
left: 263px;
top: 300px;
}
th{
    color: #06D6A0;
}

td{

}
table,th,td{
    border: 2px solid #073B4C ;
    border-collapse: collapse;
    background: #FFFFFF;
/* Gray Color */

border: 1px solid #64748B;
text-align: center;


}
th{
    color: #06D6A0;
}